*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: inherit;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  height: 100vh;
}

#root {
  width: 100vw;
  height: 100%;
}

button {
  cursor: pointer;
}
